p {
    font-size: 14px;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #002bb8;
}

h1 {
    font-size: 16px;
}

pre code {
    font-family: Fira Mono, DejaVu Sans Mono, Menlo, Consolas, Liberation Mono, Monaco, Lucida Console, monospace;
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

img {
    max-width: 100%;
    max-height: 600px;
}

.page-number, .prev, .next {
    margin: 4px 4px 4px 4px;
}

.site-title {
    font-size: 16px;
}
